ffmpegio==0.7.0
python-telegram-bot==13.14
python-dotenv
https://raw.githubusercontent.com/uroadrun89/spotdl-4.2.11/refs/heads/main/spotify-downloader.zip
pytube
ytmusicapi
spotipy
requests
pip
yt-dlp
